<link rel="stylesheet" href="/css/alert.css">

<% if(error) { %>
<div class="alert error">
    <%= error %>
</div>
<% } else if(success) { %>
<div class = "alert success">
    <p>✅<%= success %></p>
</div>
<% } %>

<script>
    const box = document.querySelector('.alert');
    setTimeout(() => {
        box.style.display = 'none';
    }, 3000);
</script>